# Organizando DataFrames(Sort)

In [1]:
import pandas as pd

In [18]:
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [6]:
# Criar DF usando listas como índice e colunas
df = pd.DataFrame(data, list('321'), list('ZYX'))
df

   Z  Y  X
3  1  2  3
2  4  5  6
1  7  8  9

In [9]:
# Organiza o DF pelo índice das linhas
df.sort_index(inplace = True)
df

   Z  Y  X
1  7  8  9
2  4  5  6
3  1  2  3

In [12]:
# Organiza o DF pelo indice das colunas
df.sort_index(inplace = True, axis = 1)
df

   X  Y  Z
1  9  8  7
2  6  5  4
3  3  2  1

In [20]:
# Organizao o DF por uma variável
df.sort_values(by = 'X', inplace = True)
df

   X  Y  Z
3  3  2  1
2  6  5  4
1  9  8  7

In [19]:
# Organizao o DF por variáveis
df.sort_values(by = ['X','Y'], inplace = True)
df

   X  Y  Z
3  3  2  1
2  6  5  4
1  9  8  7

In [22]:
# Organizao o DF por valores das colunas
df.sort_values(by = '3', axis = 1, inplace = True)
df

   Z  Y  X
3  1  2  3
2  4  5  6
1  7  8  9