# Criando Estruturas de Dados

In [1]:
import pandas as pd

In [2]:
# Criando Série
data = [1, 2, 3, 4, 5]
s = pd.Series(data)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
index = ['Linha' + str(i) for i in range(5)]
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [4]:
# Adicionar Índex á série
s =pd.Series(data = data, index = index)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [5]:
data = [[1, 2, 3], 
        [4, 5, 6], 
        [7, 8, 9]]

In [6]:
df1 = pd.DataFrame(data=data)
df1.head()

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [7]:
index = ['Linha' + str(i) for i in range(3)]
index

['Linha0', 'Linha1', 'Linha2']

In [8]:
# Adicionar índices ao Dataframe
df1 = pd.DataFrame(data = data, index = index)
df1.head()

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [9]:
# Criar série por dicionário
# Chave = Index
data = {'Linha' + str(i) : i + 1 for i in range(5) }
s = pd.Series(data)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [10]:
# Operações entre séries com mesmo índice
s1 = s + 2
s1

Linha0    3
Linha1    4
Linha2    5
Linha3    6
Linha4    7
dtype: int64

In [11]:
s2 =  s + s1
s2

Linha0     4
Linha1     6
Linha2     8
Linha3    10
Linha4    12
dtype: int64

In [12]:
columns = ['Coluna' + str(i) for i in range(3)]
columns

['Coluna0', 'Coluna1', 'Coluna2']

In [22]:
# Adicionar rótulos ao Dataframe
df1 = pd.DataFrame(data = data, index = index, columns = columns)
df2 = pd.DataFrame(data = data, index = index, columns = columns)
df2.head()

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [23]:
# Criar DF usando um dicionário
data = {'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
        'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
        'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}
df3 = pd.DataFrame(data = data, index = index, columns = columns)
df3.head()

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [24]:
# Criar DF usando lista de Tuplas
data = [(1, 2, 3), 
        (4, 5, 6), 
        (7, 8, 9)]
df4 = pd.DataFrame(data = data, index = index, columns = columns)
df4.head()

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [25]:
df1[df1 > 0] = 'A'
df1

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A

In [26]:
df2[df2 > 0] = 'B'
df2

       Coluna0 Coluna1 Coluna2
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B

In [27]:
df3[df3 > 0] = 'C'
df3

       Coluna0 Coluna1 Coluna2
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

In [28]:
# Concatenar DataFrames
df4 = pd.concat([df1, df2, df3])
df4

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

In [29]:
# Concatenação pelas linhas
df4 = pd.concat([df1, df2, df3], axis = 1)
df4

       Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2
Linha0       A       A       A       B       B       B       C       C       C
Linha1       A       A       A       B       B       B       C       C       C
Linha2       A       A       A       B       B       B       C       C       C